h1{
  border-bottom: solid black 2px
}

.App {
  text-align: center;
  
  background-image: url("https://www.smurf.com/images/brainy-news.png");
  background-repeat: no-repeat;
  width:98%;
}
button{
border-radius: 13px;
padding:15px;
background: lightblue;
margin-left:2%;

}

.form-div{
  margin-top: 30%;
}
form {
  color:black;
  font-weight:bolder;
  font-size:2rem;


}